@font-face {
  font-family: 'Roboto';
  src: url('../javascripts/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../javascripts/assets/fonts/Montserrat-Regular.ttf');
}

* {
  font-family: 'Arial';
}
